<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiveryConverter2024.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LiveryConverter2024.Properties.Settings>
            <setting name="store" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="sdkPath" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="layoutGenPath" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="texturePath" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="projectPath" serializeAs="String">
                <value>
                </value>
            </setting>
        </LiveryConverter2024.Properties.Settings>
    </userSettings>
</configuration>